h2{
    text-align: center;
}

table{
    width: 100%;
}

.mat-column-BillingNumber{
    padding-right: 10px;
    width: 140px;
}

.mat-column-Name{
    padding-right: 10px;
    width: 120px;
}

.mat-column-Status{
    padding-right: 10px;
    width: 100px;
}

.mat-column-CreatedDate{
    padding-right: 10px;
}

.mat-column-TotalPrice{
    padding-right: 10px;
    width: 150px;
    text-align: right;
}