h2 {
    text-align: center;
}

table {
    width: 100%;
}

.mat-column-totalPrice{
    padding-right: 10px;
    width: 120px;
    text-align: right;
}

.mat-column-action{
    width: 120px;
    text-align: right;
}