h2{
    text-align: center;
}

table{
    width: 100%;
}

table tr{
    margin: 10px;
}

.mat-column-id{
    padding-right: 20px;
    width: 50px;
}

.mat-column-name{
    padding-right: 10px;
    width: 150px;
}

.mat-column-description{
    padding-right: 10px;
}
.mat-column-price{
    padding-right: 50px;
    width: 100px;
    text-align: right;
}

.mat-column-add{
    padding-right: 10px;
    width: 150px;
}

.itemInline{
    display: inline;
}