h2{
    text-align: center;
}

table tr{
    margin: 10px;
}

.mat-column-id{
    padding-right: 20px;
}

.mat-column-name{
    padding-right: 10px;
    width: 150px;
}

.mat-column-description{
    padding-right: 10px;
    width: 300px;
}
.mat-column-price{
    padding-right: 10px;
    width: 100px;
}

.itemInline{
    display: inline;
}