h2{
    text-align: center;
}

table{
    width: 100%;
}

.mat-column-name{
    padding-right: 10px;
}

.mat-column-price{
    padding-right: 10px;
    width: 70px;
}

.mat-column-itemNumbers{
    padding-right: 10px;
    width: 70px;
}

.mat-column-subTotal{
    padding-right: 10px;
    width: 100px;
}

.mat-column-delete{
    padding-right: 10px;
    width: 70px;
}