.content {
    display: flex;
    margin: 0 auto;
    padding: 0 16px;
    padding-top: 74px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.example-button-row a {
    margin-right: 8px;
}